<ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="homepage" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="sort" class="nav-link px-2 text-body-secondary">Ordenen</a></li>
        <li class="nav-item"><a href="sets" class="nav-link px-2 text-body-secondary">Mijn Lijst</a></li>
        <li class="nav-item"><a href="blacklist" class="nav-link px-2 text-body-secondary">Blacklist</a></li>
        <li class="nav-item"><a href="contact" class="nav-link px-2 text-body-secondary">Contact</a></li>
</ul>
<section class="d-flex flex-column justify-content-center align-items-center">
     <img src="images/lmgLogo.png" width="192" height="86" class="mb-2 rounded">
     <p class="text-center text-body-secondary">LMG © 2024</p>
</section>
