<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true"
<% if (wrongCredentials) { %> data-show="true" <% } %> >
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
 <div class="modal-header border-bottom-0">
   <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
 </div>
 <div class="modal-body">
   <div class="form-title text-center">
     <h4>Login</h4>
   </div>
   <div class="d-flex flex-column text-center">
     <form action="/login" method="POST">
       <div class="form-group mt-3">
         <input type="text" class="form-control" id="username" name="username" placeholder="uw gebruikersnaam" required>
       </div>
       <div class="form-group mt-3">
         <input type="password" class="form-control" id="password1" name="password" placeholder="uw wachtwoord..." required>
       </div>
       <% if (wrongCredentials) { %>
         <p style="color: red;">*ongeldige inloggegevens*</p>
       <% } %>
       <p style="cursor: pointer;" data-dismiss="modal" data-toggle="modal" data-target="#forgotPassword" style="text-decoration: underline;">wachtwoord vergeten</p>
       <button type="submit" class="btn btn-warning me-2 mt-4">Login</button>
     </form>
   </div>
 </div>
</div>
</div>
</div>

<script src="/js/index.js"></script>