<!-- sort modal -->
<div class="modal fade" id="sortModal" tabindex="-1" role="dialog" aria-labelledby="ProfileModal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="me-2 mt-2 border-bottom-0 text-end">
          <button type="button" class="btn-close" aria-label="Close" data-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <h4 class="text-center">Bij welke set hoort deze minifig?</h4>
          <div class="card mx-2 content">
            <div class="card-body">
              <article class="container d-flex flex-row justify-content-around flex-wrap">
                <!-- Example set buttons -->
                <button class="setCardSortSelect my-4">
                  <section class="card shadow-sm">
                    <img width="100%" height="225" src="<%  %>"><h3 class="border border-warning m-1">Office</h3>
                  </section>
                </button>
                <button class="setCardSortSelect my-4">
                  <section class="card shadow-sm">
                    <img width="100%" height="225" src="../assets/exampleB.jpg"><h3 class="border border-warning m-1">Disney</h3>
                  </section>
                </button>
                <button class="setCardSortSelect my-4">
                  <section class="card shadow-sm">
                    <img width="100%" height="225" src="../assets/exampleD.jpg"><h3 class="border border-warning m-1">Car Caravan</h3>
                  </section>
                </button>
                <button class="setCardSortSelect my-4">
                  <section class="card shadow-sm">
                    <img width="100%" height="225" src="../assets/exampleC.jpg"><h3 class="border border-warning m-1">Harry Potter</h3>
                  </section>
                </button>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  